In [1]:
# Import libraries
import pandas as pd
import os
from dotenv import load_dotenv

# Load the ipython-sql extension
%load_ext sql

In [2]:
# Load .env file with PostgreSQL server credentials
dotenv_path = os.path.join(os.getcwd(), 'DB_URL.env')
load_dotenv(dotenv_path)

# Configure the connection using the DB_URL environment variable
%sql $DB_URL

# EXPLORATORY ANALYSIS

In [3]:
%%sql

-- Yearly national median of ili-related hospital visits (2019-2023)
SELECT year,
       PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY ili_patients) AS median_ili
  FROM visits
 WHERE year NOT IN (2018, 2024)
 GROUP BY year
;

 * postgresql://postgres:***@localhost:5433/influenza_project
5 rows affected.

[(2019, 217.0), (2020, 192.0), (2021, 229.0), (2022, 489.5), (2023, 440.5)]

In [4]:
%%sql

-- Weekly median ILI Hospitalization Rates in 2022 and 2023
WITH
median_22 AS (
SELECT week,
       PERCENTILE_CONT(0.5) WITHIN GROUP(ORDER BY (ili_patients * 1.0 / total_patients) * 100) AS ili_hospitalization_rate
  FROM visits
 WHERE year = 2022
   AND total_patients != 0
   AND state NOT IN ('Puerto Rico', 'Commonwealth of the Northern Mariana Islands', 'Virgin Islands')
 GROUP BY week
),

median_23 AS (
SELECT week,
       PERCENTILE_CONT(0.5) WITHIN GROUP(ORDER BY (ili_patients * 1.0 / total_patients) * 100) AS ili_hospitalization_rate
  FROM visits
 WHERE year = 2023
   AND total_patients != 0
   AND state NOT IN ('Puerto Rico', 'Commonwealth of the Northern Mariana Islands', 'Virgin Islands')
 GROUP BY week
)

SELECT a.week, ROUND(a.ili_hospitalization_rate::NUMERIC, 1) AS "2022",
       ROUND(b.ili_hospitalization_rate::NUMERIC, 1) AS "2023"
  FROM median_22 a
       JOIN median_23 b
         ON a.week = b.week
;

 * postgresql://postgres:***@localhost:5433/influenza_project
52 rows affected.

[(1, Decimal('3.4'), Decimal('3.4')),
 (2, Decimal('3.0'), Decimal('2.5')),
 (3, Decimal('2.5'), Decimal('2.1')),
 (4, Decimal('1.9'), Decimal('2.1')),
 (5, Decimal('1.4'), Decimal('2.0')),
 (6, Decimal('1.3'), Decimal('2.0')),
 (7, Decimal('1.3'), Decimal('2.1')),
 (8, Decimal('1.3'), Decimal('1.9')),
 (9, Decimal('1.3'), Decimal('1.9')),
 (10, Decimal('1.5'), Decimal('1.8')),
 (11, Decimal('1.5'), Decimal('1.9')),
 (12, Decimal('1.6'), Decimal('1.8')),
 (13, Decimal('1.7'), Decimal('1.7')),
 (14, Decimal('1.7'), Decimal('1.6')),
 (15, Decimal('1.8'), Decimal('1.5')),
 (16, Decimal('1.6'), Decimal('1.3')),
 (17, Decimal('1.8'), Decimal('1.4')),
 (18, Decimal('1.9'), Decimal('1.4')),
 (19, Decimal('1.9'), Decimal('1.3')),
 (20, Decimal('1.8'), Decimal('1.2')),
 (21, Decimal('1.7'), Decimal('1.2')),
 (22, Decimal('1.6'), Decimal('1.2')),
 (23, Decimal('1.4'), Decimal('1.1')),
 (24, Decimal('1.3'), Decimal('1.0')),
 (25, Decimal('1.3'), Decimal('0.9')),
 (26, Decimal('1.2'), Decimal('0.8')),
 (27, Decimal('1.2'), Decimal('0.8')),
 (28, Decimal('1.1'), Decimal('0.7')),
 (29, Decimal('1.1'), Decimal('0.7')),
 (30, Decimal('1.2'), Decimal('0.7')),
 (31, Decimal('1.1'), Decimal('0.8')),
 (32, Decimal('1.1'), Decimal('0.8')),
 (33, Decimal('1.1'), Decimal('0.9')),
 (34, Decimal('1.3'), Decimal('1.1')),
 (35, Decimal('1.2'), Decimal('1.3')),
 (36, Decimal('1.4'), Decimal('1.5')),
 (37, Decimal('1.6'), Decimal('1.5')),
 (38, Decimal('1.7'), Decimal('1.6')),
 (39, Decimal('1.7'), Decimal('1.6')),
 (40, Decimal('2.0'), Decimal('1.6')),
 (41, Decimal('2.3'), Decimal('1.7')),
 (42, Decimal('2.4'), Decimal('1.8')),
 (43, Decimal('2.8'), Decimal('1.9')),
 (44, Decimal('3.6'), Decimal('2.1')),
 (45, Decimal('4.3'), Decimal('2.4')),
 (46, Decimal('4.6'), Decimal('2.7')),
 (47, Decimal('6.4'), Decimal('3.0')),
 (48, Decimal('6.3'), Decimal('3.1')),
 (49, Decimal('6.0'), Decimal('3.3')),
 (50, Decimal('5.8'), Decimal('3.9')),
 (51, Decimal('5.6'), Decimal('4.7')),
 (52, Decimal('4.8'), Decimal('5.6'))]

In [5]:
%%sql

-- National monthly ILI hospitalizations 2022-2023
WITH
hospitalizations AS (
SELECT year, EXTRACT(MONTH FROM make_date(year, 1, 1) + (week - 1) * 7) AS month,
       SUM(ili_patients) AS monthly_hospitalizations
  FROM visits
 WHERE year IN (2022, 2023)
   AND state NOT IN ('Puerto Rico', 'Commonwealth of the Northern Mariana Islands', 'Virgin Islands')
 GROUP BY year, EXTRACT(MONTH FROM make_date(year, 1, 1) + (week - 1) * 7)
)

SELECT year, month, monthly_hospitalizations,
       ROUND((monthly_hospitalizations - LAG(monthly_hospitalizations) OVER (PARTITION BY year ORDER BY month)::NUMERIC) / LAG(monthly_hospitalizations) OVER (ORDER BY month) * 100, 1) AS percentage_diff_from_previous_month,
       ROUND((monthly_hospitalizations - AVG(monthly_hospitalizations) OVER(PARTITION BY year))::NUMERIC / AVG(monthly_hospitalizations) OVER(PARTITION BY year)::NUMERIC * 100, 1) AS percentage_diff_from_avg
  FROM hospitalizations
 ORDER BY year, month
;

 * postgresql://postgres:***@localhost:5433/influenza_project
24 rows affected.

[(2022, Decimal('1'), 270513, None, Decimal('2.5')),
 (2022, Decimal('2'), 96458, Decimal('-74.3'), Decimal('-63.4')),
 (2022, Decimal('3'), 125759, Decimal('13.5'), Decimal('-52.3')),
 (2022, Decimal('4'), 211363, Decimal('68.1'), Decimal('-19.9')),
 (2022, Decimal('5'), 211811, Decimal('0.3'), Decimal('-19.7')),
 (2022, Decimal('6'), 156674, Decimal('-26.0'), Decimal('-40.6')),
 (2022, Decimal('7'), 160919, Decimal('3.3'), Decimal('-39.0')),
 (2022, Decimal('8'), 132618, Decimal('-21.6'), Decimal('-49.7')),
 (2022, Decimal('9'), 167518, Decimal('23.6'), Decimal('-36.5')),
 (2022, Decimal('10'), 444152, Decimal('148.1'), Decimal('68.4')),
 (2022, Decimal('11'), 627052, Decimal('58.2'), Decimal('137.7')),
 (2022, Decimal('12'), 560698, Decimal('-18.3'), Decimal('112.6')),
 (2023, Decimal('1'), 334514, None, Decimal('32.1')),
 (2023, Decimal('2'), 234370, Decimal('-37.0'), Decimal('-7.4')),
 (2023, Decimal('3'), 217300, Decimal('-17.7'), Decimal('-14.2')),
 (2023, Decimal('4'), 229507, Decimal('5.8'), Decimal('-9.3')),
 (2023, Decimal('5'), 171780, Decimal('-25.2'), Decimal('-32.1')),
 (2023, Decimal('6'), 129767, Decimal('-26.8'), Decimal('-48.7')),
 (2023, Decimal('7'), 131279, Decimal('0.9'), Decimal('-48.1')),
 (2023, Decimal('8'), 148018, Decimal('12.6'), Decimal('-41.5')),
 (2023, Decimal('9'), 186761, Decimal('23.1'), Decimal('-26.2')),
 (2023, Decimal('10'), 314384, Decimal('28.7'), Decimal('24.2')),
 (2023, Decimal('11'), 363381, Decimal('7.8'), Decimal('43.5')),
 (2023, Decimal('12'), 577001, Decimal('38.1'), Decimal('127.9'))]

In [6]:
%%sql

WITH
regional_hospitalizations AS (
SELECT CASE
       WHEN state IN ('Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 'Rhode Island',
                      'Vermont', 'New Jersey', 'New York', 'New York City', 'Pennsylvania') THEN 'Northeast'
       WHEN state IN ('Illinois', 'Indiana', 'Michigan', 'Ohio', 'Wisconsin', 'Iowa', 'Kansas',
                      'Minnesota', 'Missouri', 'Nebraska', 'North Dakota', 'South Dakota') THEN 'Midwest'
       WHEN state IN ('Delaware', 'Florida', 'Georgia', 'Maryland', 'North Carolina', 'South Carolina',
                      'Virginia', 'District of Columbia', 'West Virginia', 'Alabama', 'Kentucky',
                      'Mississippi', 'Tennessee', 'Arkansas', 'Louisiana', 'Oklahoma', 'Texas') THEN 'South'
       WHEN state IN ('Arizona', 'Colorado', 'Idaho', 'Montana', 'Nevada', 'New Mexico', 'Utah',
                      'Wyoming', 'Alaska', 'California', 'Hawaii', 'Oregon', 'Washington') THEN 'West'
        END AS region,
       year, EXTRACT(MONTH FROM make_date(year, 1, 1) + (week - 1) * 7) AS month,
       SUM(ili_patients) AS monthly_hospitalizations
  FROM visits
 WHERE year IN (2022, 2023)
   AND state NOT IN ('Puerto Rico', 'Commonwealth of the Northern Mariana Islands', 'Virgin Islands')
 GROUP BY region, year, EXTRACT(MONTH FROM make_date(year, 1, 1) + (week - 1) * 7)
)

SELECT region, year, month, monthly_hospitalizations,
       ROUND((monthly_hospitalizations - LAG(monthly_hospitalizations) OVER (PARTITION BY region, year ORDER BY month)::NUMERIC) / LAG(monthly_hospitalizations) OVER (ORDER BY month) * 100, 1) AS percentage_diff_from_previous_month,
       ROUND((monthly_hospitalizations - AVG(monthly_hospitalizations) OVER(PARTITION BY region, year))::NUMERIC / AVG(monthly_hospitalizations) OVER(PARTITION BY region, year)::NUMERIC * 100, 1) AS percentage_diff_from_avg
  FROM regional_hospitalizations
 WHERE region = 'Northeast'
 ORDER BY region, year, month
;

 * postgresql://postgres:***@localhost:5433/influenza_project
24 rows affected.

[('Northeast', 2022, Decimal('1'), 32452, None, Decimal('-31.0')),
 ('Northeast', 2022, Decimal('2'), 12218, Decimal('-30.4'), Decimal('-74.0')),
 ('Northeast', 2022, Decimal('3'), 21285, Decimal('21.5'), Decimal('-54.7')),
 ('Northeast', 2022, Decimal('4'), 44456, Decimal('56.2'), Decimal('-5.5')),
 ('Northeast', 2022, Decimal('5'), 35929, Decimal('-24.7'), Decimal('-23.6')),
 ('Northeast', 2022, Decimal('6'), 25103, Decimal('-30.1'), Decimal('-46.6')),
 ('Northeast', 2022, Decimal('7'), 25361, Decimal('1.0'), Decimal('-46.1')),
 ('Northeast', 2022, Decimal('8'), 17473, Decimal('-31.1'), Decimal('-62.8')),
 ('Northeast', 2022, Decimal('9'), 25682, Decimal('35.2'), Decimal('-45.4')),
 ('Northeast', 2022, Decimal('10'), 72146, Decimal('138.4'), Decimal('53.4')),
 ('Northeast', 2022, Decimal('11'), 118242, Decimal('78.7'), Decimal('151.4')),
 ('Northeast', 2022, Decimal('12'), 134034, Decimal('15.9'), Decimal('185.0')),
 ('Northeast', 2023, Decimal('1'), 66467, None, Decimal('45.6')),
 ('Northeast', 2023, Decimal('2'), 42245, Decimal('-198.2'), Decimal('-7.4')),
 ('Northeast', 2023, Decimal('3'), 41214, Decimal('-4.8'), Decimal('-9.7')),
 ('Northeast', 2023, Decimal('4'), 42057, Decimal('1.9'), Decimal('-7.9')),
 ('Northeast', 2023, Decimal('5'), 34570, Decimal('-17.8'), Decimal('-24.3')),
 ('Northeast', 2023, Decimal('6'), 26209, Decimal('-33.3'), Decimal('-42.6')),
 ('Northeast', 2023, Decimal('7'), 26383, Decimal('0.7'), Decimal('-42.2')),
 ('Northeast', 2023, Decimal('8'), 23338, Decimal('-17.4'), Decimal('-48.9')),
 ('Northeast', 2023, Decimal('9'), 33569, Decimal('39.8'), Decimal('-26.5')),
 ('Northeast', 2023, Decimal('10'), 53756, Decimal('28.0'), Decimal('17.8')),
 ('Northeast', 2023, Decimal('11'), 58563, Decimal('8.9'), Decimal('28.3')),
 ('Northeast', 2023, Decimal('12'), 99345, Decimal('34.5'), Decimal('117.7'))]

In [7]:
%%sql

WITH
regional_hospitalizations AS (
SELECT CASE
	   WHEN state IN ('Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 'Rhode Island',
                    'Vermont', 'New Jersey', 'New York', 'New York City', 'Pennsylvania') THEN 'Northeast'
       WHEN state IN ('Illinois', 'Indiana', 'Michigan', 'Ohio', 'Wisconsin', 'Iowa', 'Kansas',
                      'Minnesota', 'Missouri', 'Nebraska', 'North Dakota', 'South Dakota') THEN 'Midwest'
       WHEN state IN ('Delaware', 'Florida', 'Georgia', 'Maryland', 'North Carolina', 'South Carolina',
                      'Virginia', 'District of Columbia', 'West Virginia', 'Alabama', 'Kentucky',
                      'Mississippi', 'Tennessee', 'Arkansas', 'Louisiana', 'Oklahoma', 'Texas') THEN 'South'
       WHEN state IN ('Arizona', 'Colorado', 'Idaho', 'Montana', 'Nevada', 'New Mexico', 'Utah',
                      'Wyoming', 'Alaska', 'California', 'Hawaii', 'Oregon', 'Washington') THEN 'West'
        END AS region,
       year, EXTRACT(MONTH FROM make_date(year, 1, 1) + (week - 1) * 7) AS month,
       SUM(ili_patients) AS monthly_hospitalizations
  FROM visits
 WHERE year IN (2022, 2023)
   AND state NOT IN ('Puerto Rico', 'Commonwealth of the Northern Mariana Islands', 'Virgin Islands')
 GROUP BY region, year, EXTRACT(MONTH FROM make_date(year, 1, 1) + (week - 1) * 7)
)

SELECT region, year, month, monthly_hospitalizations,
       ROUND((monthly_hospitalizations - LAG(monthly_hospitalizations) OVER (PARTITION BY region, year ORDER BY month)::NUMERIC) / LAG(monthly_hospitalizations) OVER (ORDER BY month) * 100, 1) AS percentage_diff_from_previous_month,
       ROUND((monthly_hospitalizations - AVG(monthly_hospitalizations) OVER(PARTITION BY region, year))::NUMERIC / AVG(monthly_hospitalizations) OVER(PARTITION BY region, year)::NUMERIC * 100, 1) AS percentage_diff_from_avg
  FROM regional_hospitalizations
 WHERE region = 'Midwest'
 ORDER BY region, year, month
;

 * postgresql://postgres:***@localhost:5433/influenza_project
24 rows affected.

[('Midwest', 2022, Decimal('1'), 40078, None, Decimal('11.6')),
 ('Midwest', 2022, Decimal('2'), 16462, Decimal('-67.6'), Decimal('-54.2')),
 ('Midwest', 2022, Decimal('3'), 23614, Decimal('26.8'), Decimal('-34.3')),
 ('Midwest', 2022, Decimal('4'), 33512, Decimal('37.2'), Decimal('-6.7')),
 ('Midwest', 2022, Decimal('5'), 24573, Decimal('-54.9'), Decimal('-31.6')),
 ('Midwest', 2022, Decimal('6'), 16355, Decimal('-33.4'), Decimal('-54.5')),
 ('Midwest', 2022, Decimal('7'), 19957, Decimal('32.3'), Decimal('-44.4')),
 ('Midwest', 2022, Decimal('8'), 17618, Decimal('-11.7'), Decimal('-51.0')),
 ('Midwest', 2022, Decimal('9'), 23163, Decimal('45.1'), Decimal('-35.5')),
 ('Midwest', 2022, Decimal('10'), 50551, Decimal('144.5'), Decimal('40.7')),
 ('Midwest', 2022, Decimal('11'), 81925, Decimal('77.0'), Decimal('128.1')),
 ('Midwest', 2022, Decimal('12'), 83257, Decimal('2.1'), Decimal('131.8')),
 ('Midwest', 2023, Decimal('1'), 34949, None, Decimal('30.4')),
 ('Midwest', 2023, Decimal('2'), 26728, Decimal('-49.9'), Decimal('-0.3')),
 ('Midwest', 2023, Decimal('3'), 26592, Decimal('-0.6'), Decimal('-0.8')),
 ('Midwest', 2023, Decimal('4'), 25008, Decimal('-4.7'), Decimal('-6.7')),
 ('Midwest', 2023, Decimal('5'), 16268, Decimal('-34.9'), Decimal('-39.3')),
 ('Midwest', 2023, Decimal('6'), 11185, Decimal('-31.1'), Decimal('-58.3')),
 ('Midwest', 2023, Decimal('7'), 11166, Decimal('-0.2'), Decimal('-58.3')),
 ('Midwest', 2023, Decimal('8'), 12297, Decimal('6.4'), Decimal('-54.1')),
 ('Midwest', 2023, Decimal('9'), 18949, Decimal('28.7'), Decimal('-29.3')),
 ('Midwest', 2023, Decimal('10'), 33133, Decimal('28.1'), Decimal('23.6')),
 ('Midwest', 2023, Decimal('11'), 40722, Decimal('22.9'), Decimal('51.9')),
 ('Midwest', 2023, Decimal('12'), 64677, Decimal('29.2'), Decimal('141.3'))]

In [8]:
%%sql

WITH
regional_hospitalizations AS (
SELECT CASE
       WHEN state IN ('Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 'Rhode Island',
                    'Vermont', 'New Jersey', 'New York', 'New York City', 'Pennsylvania') THEN 'Northeast'
       WHEN state IN ('Illinois', 'Indiana', 'Michigan', 'Ohio', 'Wisconsin', 'Iowa', 'Kansas',
                      'Minnesota', 'Missouri', 'Nebraska', 'North Dakota', 'South Dakota') THEN 'Midwest'
       WHEN state IN ('Delaware', 'Florida', 'Georgia', 'Maryland', 'North Carolina', 'South Carolina',
                      'Virginia', 'District of Columbia', 'West Virginia', 'Alabama', 'Kentucky',
                      'Mississippi', 'Tennessee', 'Arkansas', 'Louisiana', 'Oklahoma', 'Texas') THEN 'South'
       WHEN state IN ('Arizona', 'Colorado', 'Idaho', 'Montana', 'Nevada', 'New Mexico', 'Utah',
                      'Wyoming', 'Alaska', 'California', 'Hawaii', 'Oregon', 'Washington') THEN 'West'
        END AS region,
       year, EXTRACT(MONTH FROM make_date(year, 1, 1) + (week - 1) * 7) AS month,
       SUM(ili_patients) AS monthly_hospitalizations
  FROM visits
 WHERE year IN (2022, 2023)
   AND state NOT IN ('Puerto Rico', 'Commonwealth of the Northern Mariana Islands', 'Virgin Islands')
 GROUP BY region, year, EXTRACT(MONTH FROM make_date(year, 1, 1) + (week - 1) * 7)
)

SELECT region, year, month, monthly_hospitalizations,
       ROUND((monthly_hospitalizations - LAG(monthly_hospitalizations) OVER (PARTITION BY region, year ORDER BY month)::NUMERIC) / LAG(monthly_hospitalizations) OVER (ORDER BY month) * 100, 1) AS percentage_diff_from_previous_month,
       ROUND((monthly_hospitalizations - AVG(monthly_hospitalizations) OVER(PARTITION BY region, year))::NUMERIC / AVG(monthly_hospitalizations) OVER(PARTITION BY region, year)::NUMERIC * 100, 1) AS percentage_diff_from_avg
  FROM regional_hospitalizations
 WHERE region = 'South'
 ORDER BY region, year, month
;

 * postgresql://postgres:***@localhost:5433/influenza_project
24 rows affected.

[('South', 2022, Decimal('1'), 152606, None, Decimal('18.6')),
 ('South', 2022, Decimal('2'), 52102, Decimal('-67.8'), Decimal('-59.5')),
 ('South', 2022, Decimal('3'), 59486, Decimal('7.3'), Decimal('-53.8')),
 ('South', 2022, Decimal('4'), 97302, Decimal('42.6'), Decimal('-24.4')),
 ('South', 2022, Decimal('5'), 117773, Decimal('28.1'), Decimal('-8.5')),
 ('South', 2022, Decimal('6'), 91249, Decimal('-22.5'), Decimal('-29.1')),
 ('South', 2022, Decimal('7'), 92870, Decimal('2.8'), Decimal('-27.8')),
 ('South', 2022, Decimal('8'), 79215, Decimal('-14.7'), Decimal('-38.5')),
 ('South', 2022, Decimal('9'), 97163, Decimal('23.1'), Decimal('-24.5')),
 ('South', 2022, Decimal('10'), 242071, Decimal('159.1'), Decimal('88.1')),
 ('South', 2022, Decimal('11'), 266637, Decimal('14.6'), Decimal('107.2')),
 ('South', 2022, Decimal('12'), 195986, Decimal('-26.7'), Decimal('52.3')),
 ('South', 2023, Decimal('1'), 148207, None, Decimal('30.1')),
 ('South', 2023, Decimal('2'), 100510, Decimal('-91.5'), Decimal('-11.8')),
 ('South', 2023, Decimal('3'), 88828, Decimal('-19.6'), Decimal('-22.0')),
 ('South', 2023, Decimal('4'), 97440, Decimal('8.9'), Decimal('-14.5')),
 ('South', 2023, Decimal('5'), 72979, Decimal('-25.1'), Decimal('-36.0')),
 ('South', 2023, Decimal('6'), 52395, Decimal('-22.6'), Decimal('-54.0')),
 ('South', 2023, Decimal('7'), 57521, Decimal('9.8'), Decimal('-49.5')),
 ('South', 2023, Decimal('8'), 77649, Decimal('25.4'), Decimal('-31.9')),
 ('South', 2023, Decimal('9'), 91091, Decimal('13.8'), Decimal('-20.1')),
 ('South', 2023, Decimal('10'), 147395, Decimal('23.3'), Decimal('29.4')),
 ('South', 2023, Decimal('11'), 168557, Decimal('14.4'), Decimal('47.9')),
 ('South', 2023, Decimal('12'), 264832, Decimal('36.1'), Decimal('132.4'))]

In [9]:
%%sql

WITH
regional_hospitalizations AS (
SELECT CASE
       WHEN state IN ('Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 'Rhode Island',
                    'Vermont', 'New Jersey', 'New York', 'New York City', 'Pennsylvania') THEN 'Northeast'
       WHEN state IN ('Illinois', 'Indiana', 'Michigan', 'Ohio', 'Wisconsin', 'Iowa', 'Kansas',
                      'Minnesota', 'Missouri', 'Nebraska', 'North Dakota', 'South Dakota') THEN 'Midwest'
       WHEN state IN ('Delaware', 'Florida', 'Georgia', 'Maryland', 'North Carolina', 'South Carolina',
                      'Virginia', 'District of Columbia', 'West Virginia', 'Alabama', 'Kentucky',
                      'Mississippi', 'Tennessee', 'Arkansas', 'Louisiana', 'Oklahoma', 'Texas') THEN 'South'
       WHEN state IN ('Arizona', 'Colorado', 'Idaho', 'Montana', 'Nevada', 'New Mexico', 'Utah',
                      'Wyoming', 'Alaska', 'California', 'Hawaii', 'Oregon', 'Washington') THEN 'West'
        END AS region,
       year, EXTRACT(MONTH FROM make_date(year, 1, 1) + (week - 1) * 7) AS month,
       SUM(ili_patients) AS monthly_hospitalizations
  FROM visits
 WHERE year IN (2022, 2023)
   AND state NOT IN ('Puerto Rico', 'Commonwealth of the Northern Mariana Islands', 'Virgin Islands')
 GROUP BY region, year, EXTRACT(MONTH FROM make_date(year, 1, 1) + (week - 1) * 7)
)

SELECT region, year, month, monthly_hospitalizations,
	   ROUND((monthly_hospitalizations - LAG(monthly_hospitalizations) OVER (PARTITION BY region, year ORDER BY month)::NUMERIC) / LAG(monthly_hospitalizations) OVER (ORDER BY month) * 100, 1) AS percentage_diff_from_previous_month,
	   ROUND((monthly_hospitalizations - AVG(monthly_hospitalizations) OVER(PARTITION BY region, year))::NUMERIC / AVG(monthly_hospitalizations) OVER(PARTITION BY region, year)::NUMERIC * 100, 1) AS percentage_diff_from_avg
  FROM regional_hospitalizations
 WHERE region = 'West'
 ORDER BY region, year, month
;

 * postgresql://postgres:***@localhost:5433/influenza_project
24 rows affected.

[('West', 2022, Decimal('1'), 45377, None, Decimal('-13.0')),
 ('West', 2022, Decimal('2'), 15676, Decimal('-35.0'), Decimal('-69.9')),
 ('West', 2022, Decimal('3'), 21374, Decimal('8.8'), Decimal('-59.0')),
 ('West', 2022, Decimal('4'), 36093, Decimal('24.3'), Decimal('-30.8')),
 ('West', 2022, Decimal('5'), 33536, Decimal('-5.3'), Decimal('-35.7')),
 ('West', 2022, Decimal('6'), 23967, Decimal('-28.5'), Decimal('-54.0')),
 ('West', 2022, Decimal('7'), 22731, Decimal('-3.4'), Decimal('-56.4')),
 ('West', 2022, Decimal('8'), 18312, Decimal('-19.4'), Decimal('-64.9')),
 ('West', 2022, Decimal('9'), 21510, Decimal('9.2'), Decimal('-58.7')),
 ('West', 2022, Decimal('10'), 79384, Decimal('134.1'), Decimal('52.3')),
 ('West', 2022, Decimal('11'), 160248, Decimal('84.6'), Decimal('207.4')),
 ('West', 2022, Decimal('12'), 147421, Decimal('-8.7'), Decimal('182.8')),
 ('West', 2023, Decimal('1'), 84891, None, Decimal('27.1')),
 ('West', 2023, Decimal('2'), 64887, Decimal('-127.6'), Decimal('-2.8')),
 ('West', 2023, Decimal('3'), 60666, Decimal('-19.7'), Decimal('-9.1')),
 ('West', 2023, Decimal('4'), 65002, Decimal('12.0'), Decimal('-2.7')),
 ('West', 2023, Decimal('5'), 47963, Decimal('-26.2'), Decimal('-28.2')),
 ('West', 2023, Decimal('6'), 39978, Decimal('-33.3'), Decimal('-40.1')),
 ('West', 2023, Decimal('7'), 36209, Decimal('-9.4'), Decimal('-45.8')),
 ('West', 2023, Decimal('8'), 34734, Decimal('-8.1'), Decimal('-48.0')),
 ('West', 2023, Decimal('9'), 43152, Decimal('39.1'), Decimal('-35.4')),
 ('West', 2023, Decimal('10'), 80100, Decimal('46.5'), Decimal('20.0')),
 ('West', 2023, Decimal('11'), 95539, Decimal('19.3'), Decimal('43.1')),
 ('West', 2023, Decimal('12'), 148147, Decimal('32.8'), Decimal('121.9'))]

In [10]:
%%sql

-- ILI Hospitalizations per State in 2023
SELECT state,
       SUM(ili_patients) AS total_hospitalizations
  FROM visits
 WHERE year = 2023
   AND state NOT IN ('Puerto Rico', 'Commonwealth of the Northern Mariana Islands', 'Virgin Islands')
 GROUP BY state
 ORDER BY total_hospitalizations DESC
;

 * postgresql://postgres:***@localhost:5433/influenza_project
52 rows affected.

[('Florida', 474999),
 ('California', 471638),
 ('New York City', 267985),
 ('Virginia', 162733),
 ('Georgia', 137503),
 ('North Carolina', 99133),
 ('Texas', 88456),
 ('Massachusetts', 72525),
 ('Colorado', 71511),
 ('Michigan', 68356),
 ('Alabama', 66368),
 ('Louisiana', 66034),
 ('Illinois', 64653),
 ('New York', 54155),
 ('South Carolina', 54014),
 ('Indiana', 52716),
 ('Maryland', 51777),
 ('New Jersey', 50303),
 ('Tennessee', 48873),
 ('Hawaii', 46797),
 ('New Mexico', 43490),
 ('Pennsylvania', 43457),
 ('Ohio', 43312),
 ('Arizona', 42743),
 ('Connecticut', 40017),
 ('Washington', 39296),
 ('Kentucky', 34008),
 ('Oregon', 24842),
 ('Nevada', 24708),
 ('Mississippi', 22064),
 ('Missouri', 20281),
 ('Utah', 18500),
 ('Minnesota', 18399),
 ('Nebraska', 18003),
 ('Wisconsin', 15134),
 ('Oklahoma', 14906),
 ('Arkansas', 14608),
 ('District of Columbia', 14182),
 ('West Virginia', 11290),
 ('Kansas', 10373),
 ('Maine', 8218),
 ('Rhode Island', 7131),
 ('Delaware', 6456),
 ('Idaho', 6109),
 ('Alaska', 4176),
 ('North Dakota', 3905),
 ('Montana', 3836),
 ('Wyoming', 3622),
 ('South Dakota', 3538),
 ('Iowa', 3004),
 ('Vermont', 2061),
 ('New Hampshire', 1864)]

In [11]:
%%sql

-- Population over 65 years old
SELECT state,
       SUM("age_65-69" + "age_70-74" + "age_75-79" + "age_80-84" + over_85) AS population_over_65
  FROM census
 WHERE year = 2022
 GROUP BY state
 ORDER BY population_over_65 DESC
 LIMIT 5
;

 * postgresql://postgres:***@localhost:5433/influenza_project
5 rows affected.

[('California', 5865300),
 ('Florida', 4520647),
 ('Texas', 3768977),
 ('New York', 3402284),
 ('Pennsylvania', 2434405)]

# ANALYSIS QUESTIONS

### When does flu season start?
Flu season kicks in when there's a surge in influenza cases, usually during the fall and winter months. In 2023, we saw the flu gaining momentum in October, hitting its peak in December, causing over 500,000 hospitalizations in the United States.

### How long does flu season last?
Typically, flu season sticks around for a few months. Between 2022 and 2023, the flu was pretty active from October 2022 through January 2023, lasting around 26 weeks.

### Does flu season vary across different regions of the United States?
Nope, flu season hits all four major regions of the United States - West, Midwest, South, and Northeast - around the same time, from October to January.

### Are there specific months known for peak flu activity?
Yep, November and December usually see the highest flu activity. Interestingly, flu cases drop significantly from December to January in the Northeast, Midwest, and West.

### Which states saw the highest flu and pneumonia cases in 2023?
In 2023, the states topping the charts for flu and pneumonia hospitalizations were:
1. Florida
2. California
3. New York (State & City)
4. Virginia
5. Georgia

### Which states have the most seniors aged 65 and above?
As of 2022, the states with the largest population of folks aged 65 and older are:
1. California
2. Florida
3. Texas
4. New York
5. Pennsylvania